@import 'fonts.scss';
@import 'variables.scss';
@import 'mixins.scss';
@import 'normalize.scss';
@import 'generic.scss';
@import 'mobile-menu.scss';
@import 'header.scss';
@import 'form.scss';
@import 'footer.scss';

/* sections */

.section__main {
  padding-top: 0;

  &-wrapper {
    padding: 65px 0 36px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    text-align: left;

    @include xl {
      padding: 40px 0 50px 0;
      flex-wrap: nowrap;
      text-align: center;
    }
  }

  &-title {
    margin: 0;
    width: 100%;

    @include xl {
      width: auto;
    }
  }

  &-text {
    margin-top: 25px;

    @include xl {
      margin: 0;
    }
  }

  &-lang {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-weight: bold;

    a {
      color: $grey;
      text-decoration: none;

      &:hover {
        color: $black;
      }
    }
  }

  &-img {
    @include md {
      width: 100%;
    }
  }
}

.section__about {
  &-text {
    @include xl {
      width: 490px;
      margin: 0 auto;
    }

    p {
      width: 100%;
      margin: 30px auto;

      &:nth-child(2) {
        width: 90%;
      }

      &:nth-child(3) {
        width: 80%;
      }
    }
  }
}

.section__skills {
  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    margin-top: 83px;

    @include xl {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;

    @include xs {
      &:last-child {
        margin-bottom: 0;
      }
    }
  
    @include md {
      width: 50%;
    }

    @include xl {
      margin: 0;
    }

    &-title {
      color: $grey;
      font-size: 14px;
      font-weight: bold;
      line-height: 17px;
      margin: 24px 0 40px 0;
    }

    &-stars {
      display: flex;

      span {
        font-size: 26px;
        margin: 0 4.5px;

        &.is-grey {
          color: $starGrey;
        }
      }
    }
  }
}

.section__portfolio {
  &-item {
    margin: 30px 0 80px 0;

    @include xl {
      margin: 50px 0 100px 0;
    }

    img {
      width: 100%;
    }

    &-link {
      display: block;
      margin-top: 45px;
      color: $black;

      &:hover {
        text-decoration: none;
      }
    }
  }
}